body {
    margin: 10px auto 0 auto;
    padding: 0;
    height: 100%;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    background-color: black;
    color: ghostwhite;
}
a {
    text-decoration: none;
    color:#3E3D3D;
}
a:hover {
    color:rgb(255,89,77);
}
ul > li {
    list-style: none;
}

.paragraphnospace {
    margin:0;
    padding:0;
}

#footer {
    display: block;
    margin: 0 auto;
    align-content: center;
    clear: both;
    text-align: center;
}

.contentWrapper {
    display: block;
    padding: 16px;
    border-radius: 2px;
    background-color: darkslategrey;
    color: ghostwhite;
}
.contentWrapperBtn {
    font-family: "Berlin Sans FB","sans-serif";
    padding: 3px 5px;
    border-radius: 2px;
    background-color: ghostwhite;
    color: darkslategrey;
}
.contentWrapperBtn:hover {
    background-color: #282828;
    color: ghostwhite;
}

.error {
    color: red;
    border-color: red;
}